<template>
  <div>
     <b-alert
      :show="dismissCountDown"
      fade
      :variant="variant"
      @dismiss-count-down="countDownChanged"
      class="mt-4"
    >
      {{ message }}
    </b-alert>
    <Urls :urls="urls" @add-url="addUrl" @delete-url="deleteUrl"/>
  </div>
</template>

<style scoped></style>

<script>
import axios from "axios";
import Urls from '../components/Urls'
export default {
  name: "Dashboard",
  components: {
      Urls,
  },
  data() {
    return {
      urls: [],
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      variant: 'success',
      message:''
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
    },
    async fetchUrls() {
        // const data = await axios.get('/url_shortens').then(response => response.data["hydra:member"])
        const data = await axios.get('/url_shortens')
        return data.data
    },
    async addUrl(url) {
      try {
        const data = await axios.post('url_shortens', url)
        this.urls = [...this.urls, data.data]
        this.variant = "success"
        this.dismissCountDown = this.dismissSecs
        this.message = "Url successfully shortened."
      } catch ({ response }) {
        this.variant = "danger"
        this.dismissCountDown = this.dismissSecs
        const { violations } = response.data;
        this.message = "An error occurred, please try again later."
        if (violations) {
          const apiErrors = {};
          violations.forEach(({ propertyPath, title }) => {
            apiErrors[propertyPath] = title;
          });
           this.message = Object.values(apiErrors).join("<br/>");
        }
      }
    },
    async deleteUrl(id) {
      this.$bvModal.msgBoxConfirm('Are you sure?')
          .then(async value => {
            if(value){
              const res = await axios.delete(`url_shortens/${id}`)
        res.status === 204
          ? (this.urls = this.urls.filter((url) => url.id !== id))
          : alert('Error deleting url')
            }
          })
          .catch(err => {
            // An error occurred
          })
    },
  },
  async created() {
    this.urls = await this.fetchUrls()
  },
};
</script>