<template>
    <div>
         <b-row class="h90 mt-5" align-v="center" align-h="center">
            <b-card title="Redirection from shortened to Full URL" style="width:100%" class="shadow">
                <b-form @submit.prevent="submit">
                    <b-form-group class="py-2">
                    <b-form-input
                        v-model="form.shortUrl"
                        type="text"
                        placeholder="Paste short url"
                        required
                    ></b-form-input>
                    </b-form-group>

                    <b-form-group class="py-2">
                    <b-button block type="submit" class="btn-rx-secondary"
                        >Redirect</b-button
                    >
                    </b-form-group>
                </b-form>
          </b-card>
        </b-row>
    </div>
</template>

<script>

export default{
   name:"Home",
   data() {
    return {
      form: {
        shortUrl: "",
      }
    };
  },
   created() {
       if(this.$route.params.token) {
        window.location.href = process.env.VUE_APP_BASE_URL+"/api/redirect/"+this.$route.params.token
       }
   },
   methods: {
       submit() {
        if (!this.form.shortUrl) {
            alert('Please add a URL')
            return
        }
        window.open(this.form.shortUrl, '_blank')
        this.form.shortUrl = ""
       }
   }
}
</script>

<style scoped>

</style>
