<template>
  <div>
    <b-row class="h90 py-5" align-v="center" align-h="center">
      <b-alert
      :show="dismissCountDown"
      fade
      :variant="variant"
      @dismiss-count-down="countDownChanged"
      class="mt-4"
    >
      {{ message }}
    </b-alert>
      <b-col sm="10" md="5" lg="6">
        <b-card title="Login" style="width:100%" class="shadow">
          <b-form @submit.prevent="handleSubmit">
            <b-form-group class="py-2">
              <b-form-input
                v-model="user.email"
                type="email"
                v-bind:class="{'is-invalid' : submitted && $v.user.email.$error}"
                placeholder="E-mail address"
              ></b-form-input>
               <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                  <span v-if="!$v.user.email.required">Email is required</span>
                  <span v-if="!$v.user.email.email">Email is invalid</span>
                </div>
            </b-form-group>
            <b-form-group class="py-2">
              <b-form-input
                v-model="user.password"
                type="password"
                 v-bind:class="{'is-invalid' : submitted && $v.user.password.$error}"
                placeholder="Password"
              ></b-form-input>
              <div v-if="submitted && $v.user.password.$error" class="invalid-feedback">
                  <span v-if="!$v.user.password.required">Password is required</span>
              </div>
            </b-form-group>

            <b-form-group class="py-2">
              <b-button block type="submit" clsss="btn-rx-secondary"
                >Login</b-button
              >
            </b-form-group>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<style scoped></style>

<script>
import { mapActions } from "vuex";
import { required, email } from "vuelidate/lib/validators";
export default {
  name: "Login",
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
      submitted : false,
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      variant: 'success',
      message:'',
    };
  },
  validations: {
    user: {
        email: { required, email },
        password: { required},
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
    },
    ...mapActions({
      login: "auth/login",
    }),
    async handleSubmit() {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
          return;
      }
      try{
        await this.login(this.user).then(() => {
        this.$router.replace({
          name: "dashboard",
        });
      });
      } catch(error) {
        this.variant = "danger"
          this.dismissCountDown = this.dismissSecs
          this.message = "Invalid credentials.";
      }
      
    },
  },
};
</script>