<template>
  <div>
    <b-row class="h90 py-5" align-v="center" align-h="center">
      <b-alert
      :show="dismissCountDown"
      fade
      :variant="variant"
      @dismiss-count-down="countDownChanged"
      class="mt-4"
    >
      {{ message }}
    </b-alert>
      <b-col sm="10" md="5" lg="6">
        <b-card title="Register" style="width:100%" class="shadow">
          <b-form @submit.prevent="handleSubmit">
            <b-form-group class="py-2">
              <b-form-input
                v-model="user.email"
                v-bind:class="{'is-invalid' : submitted && $v.user.email.$error}"
                type="email"
                placeholder="E-mail address"
              ></b-form-input>
               <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                  <span v-if="!$v.user.email.required">Email is required</span>
                  <span v-if="!$v.user.email.email">Email is invalid</span>
                </div>
            </b-form-group>
            <b-form-group class="py-2">
              <b-form-input
                v-model="user.password"
                v-bind:class="{'is-invalid' : submitted && $v.user.password.$error}"
                type="password"
                placeholder="Password"
              ></b-form-input>
              <div v-if="submitted && $v.user.password.$error" class="invalid-feedback">
                  <span v-if="!$v.user.password.required">Password is required</span>
                  <span v-if="!$v.user.password.minLength">Password must be at least 6 characters</span>
              </div>
            </b-form-group>
            <b-form-group class="py-2">
              <b-form-input
                v-model="user.confirmPassword"
                v-bind:class="{'is-invalid' : submitted && $v.user.confirmPassword.$error}"
                type="password"
                placeholder="Confirm Password"
              ></b-form-input>
              <div v-if="submitted && $v.user.confirmPassword.$error" class="invalid-feedback">
                  <span v-if="!$v.user.confirmPassword.required">Confirm Password is required</span>
                  <span v-else-if="!$v.user.confirmPassword.sameAsPassword">Passwords must match</span>
              </div>
            </b-form-group>

            <b-form-group class="py-2">
              <b-button block type="submit" clsss="btn-rx-secondary"
                >Register</b-button
              >
            </b-form-group>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<style scoped></style>

<script>
import { mapActions } from "vuex";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
export default {
  name: "Register",
  data() {
    return {
      user: {
        email: "",
        password: "",
        confirmPassword: "",
      },
      submitted : false,
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      variant: 'success',
      message:'',
    };
  },
  validations: {
    user: {
        email: { required, email },
        password: { required, minLength: minLength(6) },
        confirmPassword: { required, sameAsPassword: sameAs('password') }
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
    },
    ...mapActions({
      register: "auth/register",
    }),
    async handleSubmit() {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
          return;
      }
      try{
        const res = await this.register(this.user);
        this.$store.commit('setLoading', false)
        this.$router.replace({
          name: "login",
        });
      } catch({ response }){
        const { violations } = response.data.errors;
        if (violations) {
          const apiErrors = {};
          violations.forEach(({ propertyPath, title }) => {
            apiErrors[propertyPath] = title;
          });
          this.variant = "danger"
          this.dismissCountDown = this.dismissSecs
          this.message = Object.values(apiErrors).join("<br/>");
        }
        this.$store.commit('setLoading', false)
      }
    },
  },
};
</script>
