<template>
    <div>
        <b-overlay :show="isLoading">
            <navbar/>
            <b-container>
                <router-view/>
            </b-container>
         </b-overlay>
    </div>
</template>

<script>
import Navbar from './Navbar'
import { mapGetters } from "vuex";

export default{
  components: { Navbar },
   name:"App",
   computed: {
    ...mapGetters({
      isLoading: "getLoading",
    }),
  },
}
</script>

<style>
.btn-rx-primary{
    color: #ff0761;
    background-color: rgba(255,7,97,.05);
    border-color: rgba(255,7,97,.03);
    font-size: 13px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 0 20px;
    line-height: 46px;
}
.btn-rx-secondary{
    color: #2e294e;
    background-color: rgba(255,7,97,.05);
    border-color: rgba(255,7,97,.03);
    font-size: 13px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 0 20px;
    line-height: 46px;
}
</style>
