<template>
     <div>
        <b-row class="h90 mt-5" align-v="center" align-h="center">
            <b-col md="2" offset-md="11">
                <b-button block type="submit" class="btn-rx-primary"  @click="toggleAddTask()">
                    Add New URL <i class="fas fa-plus"></i>
                </b-button>
            </b-col>
        </b-row>
        <b-row class="h90 mt-3" align-v="center" align-h="center" v-if="showAddUrl">
            <b-card title="URL Shortner" style="width:100%" class="shadow">
                <b-form @submit.prevent="handleSubmit">
                    <b-form-group class="py-2">
                    <b-form-input
                        v-model="url.fullUrl"
                        v-bind:class="{'is-invalid' : submitted && $v.url.fullUrl.$error}"
                        type="text"
                        placeholder="Paste long url and shorten it"
                    ></b-form-input>
                    <div v-if="submitted && $v.url.fullUrl.$error" class="invalid-feedback">
                        <span v-if="!$v.url.fullUrl.required">URL is required</span>
                        <span v-if="!$v.url.fullUrl.url">URL is invalid</span>
                     </div>
                    </b-form-group>

                    <b-form-group class="py-2">
                    <b-button block type="submit" class="btn-rx-secondary"
                        >Shorten</b-button
                    >
                    </b-form-group>
                </b-form>
          </b-card>
        </b-row>
        <b-row class="h90 mt-3" align-v="center" align-h="center">
            <b-card title="" style="width:100%" class="shadow">
                <table class="table table-striped table-bordered">
                    <thead class="bg-rx">
                        <tr>
                            <th scope="col">Full URL</th>
                            <th scope="col">Public Short URL</th>
                            <th scope="col">Total hits</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  v-for="url in urls" :key="url.id">
                            <td>{{ url.fullUrl }}</td>
                            <td>{{ vue_app_base_url }}/{{ url.shortUrl }}</td>
                            <td>{{ url.clicks }}</td>  
                            <td class="text-center">
                                <!--<i class="fas fa-edit mx-3"></i>-->
                                <span title="Delete URL" @click="$emit('delete-url', url.id)"><i class="fas fa-trash mx-3" ></i></span>
                                <span title="Copy To Clipboard" @click="copyDoiToClipboard(vue_app_base_url+'/'+url.shortUrl)"><i class="fas fa-copy"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </b-card>
        </b-row>
     </div>
</template>

<script>
import { required, url } from "vuelidate/lib/validators";
export default {
  name: 'Urls',
  props: {
    urls: Array,
  },
  data() {
    return {
      url: {
        fullUrl: ""
      },
      submitted : false,
      showAddUrl: false,
      vue_app_base_url: process.env.VUE_APP_BASE_URL
    };
  },
   validations: {
    url: {
        fullUrl: { required, url }
    }
  },
  methods: { 
    toggleAddTask() {
        this.showAddUrl = !this.showAddUrl
    },
    handleSubmit() {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
          return;
      } 
      this.$emit('add-url', this.url)
      this.url.fullUrl = ""
      this.submitted = false  
    },
    copyDoiToClipboard (shortUrl) {
        navigator.clipboard.writeText(shortUrl)
    }
  }
}
</script>
<style scoped>
.bg-rx{
    background-color: #ff0a63;
}
</style>